*{
  margin: 0;
  padding: 0;
}
fieldset{
  margin-left: 20%;
  margin-right: 30%;
  margin-top: 10vh;
  padding-left: 20px;
}
.msgg{
  /* border: 1px solid black; */
  margin-top: 5px;
  color: #ff0000;
  height: 2rem;
  width: 70%;
}
.btn{
  height: 2rem;
  width: 6rem;
  
}
input{
  width: 60%;
}
form{
  padding-left: 10px;
}
.extra{
  height: 20px;
}